

#big-preview-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: block;
    z-index: 97;
    position: relative;
    background: url("../img/big-preview-img.jpg") no-repeat 50% 100%;
}

.tour-name {
    margin: 300px auto auto auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
    clear: both;
    float: none;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
}

.container {
    margin: 0 auto;
    width: 80%;
    min-width: 930px;
    font-family: HelveticaNeueCyr;
}

.short-description {
    background-color: #ffffff;
    width: 400px;
    text-align: center;
    font-family: HelveticaNeueCyr;
}

.tour-date {
    font-size: 1.45em;
    font-weight: 300;
    padding-top: 3%;
}

.tour-destination {
    font-size: 0.89em;
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3px;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.align_center_to_left
{
    position: relative;
    right: 50%;
    float: right;
}
.align_center_to_right
{
    position: relative;
    z-index: 1;
    right: -50%;
}

.booking {
    display: inline-block;
    padding-top: 8px;
    width: 100%;
}

.left-column {
    color: rgb(90, 90, 90);
    line-height: 1.8em;
    font-size: 0.875em;
    float: left;
    width: 60%;
    margin-top: 20px;
}

.left-column a {
    text-decoration: underline;
    color: rgb(153, 153, 153);
}

.old-price{
    text-decoration: line-through;
    font-size: 1.5em;
    line-height: 30px;
    color: rgb(153, 153, 153);
    font-weight: 300;
}

.new-price {
    font-size: 1.5em;
    line-height: 30px;
    color: rgb(255, 111, 64);
    font-weight: 300;
    padding-left: 2%;
}

.right-column {
    font-size: 0.875em;
    line-height: 14px;
    color: rgb(80, 80, 80);
    float: right;
    width: 35%;
    margin-top: 20px;
    border: solid #000000 1px;
    padding: 1.5% 1%;
}

#description {
    font-size: 0.875em;
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgb(153, 153, 153);
    clear: both;
}


#description p {
    border-top: 1px solid rgb(255, 111, 64);
    width: 200px;
    margin: auto;
}

.buttons {
    display: inline-block;
    width: 100%;
}

.buttons > div {
    float: right;
}